@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  @apply bg-slate-100;
} */

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.no-scrollbar::-webkit-scrollbar {
  display: none;            
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}